<link rel="stylesheet" href="~/css/chat.css" asp-append-version="true">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<div class="container">
    <img src="~/QSu3mMKbTK0.jpg" alt="альтернативный текст">
    <p><a href="~/Account/Login">Попытаться снова</a></p>
</div>
