<link rel="stylesheet" href="~/css/chat.css" asp-append-version="true">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<style>
    .container {
        display: flex;
        justify-content: center;
    }
    .p {
        display: flex;
        justify-content: center;
        margin-top:10px;
    }
</style>
<div class="container">
    <div class="child" style="margin: 0 auto;">
        <div class=" = row">
            <img id="ban" src="~/QSu3mMKbTK0.jpg" alt="альтернативный текст">
        </div>
        <br />
        <div class=" = row">
            <p><a href="~/Account/Login" class="btn btn-primary">Попытаться снова</a></p>
        </div>
        </div>
</div>
