@{
    ViewData["Title"] = "Chat";
}
<link rel="stylesheet" href="~/css/chat.css" asp-append-version="true">
<div id="page">
    <div id="room-section">
        <div class="header"><h2>List of rooms:</h2></div>
        <div class="room">Room1
            <hr>
        </div>
    </div>

    <div id="text-section">
       
        <div id="messages-from-other">
        </div>
        <div id="input-block">
            <textarea id="input-area" name="message" class="message-block"></textarea>
            <button id="btn-send"  type="button" class="btn btn-primary">Send</button>
            <button type="clear" class="btn btn-primary">Clear</button>
        </div>
    </div>

    <div id="user-section">
        <div class="header"><h2>List of users:</h2></div>
        <div class="user">You
            <hr>
        </div>
    </div>
</div>
<script src="~/lib/signalr.js"></script>
<script type="text/javascript" src="~/js/chat.js"></script>