html{
    overflow-x: hidden;
    overflow-y:hidden;
}
.container {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-image:url("https://images.wallpaperscraft.ru/image/minimalizm_nebo_oblaka_solntse_gory_ozero_pejzazh_95458_1920x1080.jpg");
}
#chatBody {
    position: absolute;
    height: 100%;
    margin-left: 30%;
    width: 70%;
    display: block;
    float: left;
    
}
#inout {
    background-color: rgba(247, 183, 193, 0.72);
    padding: 4% 10% 4% 10%;
    border-radius: 12px;
    display: inline-block;
    margin-top: 20%;
}
#inout a{
    font-size: 20px;
    color: white;
    font-family: 'Lato', sans-serif;
}
#inout a:hover{
    text-decoration: none;
    color: black;
}
#userblock {
    height: 100%;
    width: 30%;
    display: block;
    float: left;
    text-align: center;
    
}
#userNameBlock {
    text-align: center;
    
}
#admin-panel {
    background-color: rgba(247, 183, 193, 0.72);
    margin-top: 50%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%;
    display: inline-block;
    height: 100%;
    border-radius: 12px;
}
.modal {
    overflow-y: scroll;
}
#chatroom {
    overflow-y: scroll;
    height: 500px;
    background-color: rgba(219, 130, 235, 0.5);
    overflow-y: scroll; /* прокрутка по вертикали */
}
/*#chatroom {
    position: fixed;
    overflow-y: scroll;
    background-color: rgba(219, 130, 235, 0.5);
    height: 90%;
    min-height: 90%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    padding-left: 2%;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    text-align: left;
    resize: none;
    box-sizing: border-box;
    flex-grow: 0;
}*/
#inputForm {
    width: 100%;
    position: relative;
    margin-top: 1%;
    margin-left: 1%;
    padding-bottom: 7%
}
#notify{
    width: 100%;
}
/*#sendBtn{
    
    display: block;
    margin-right: 5%;
    float: right;       
    
}*/
#sendBtn input {
    border-radius: 3px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 1%;
    color: aliceblue;
    background-color: rgba(219, 130, 235, 0.7);
}
#enterBtn input {
    border-radius: 2px;
    font-size: 16px;
    
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 1%;
    color: aliceblue;
}
/*#notifyBtn{
    border-radius: 12px;
    font-size: 20px;
    background-color:rgb(219, 130, 235);;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2% 10% 2% 10%;
    margin-top: 5%;*/
    /*}*/
#sendBtn input:hover{
    color: white;
}
#notifyBtn:hover{
    color: white;
}
textarea{
display: inline-block;
width: 80%;
}
