#room-section{
    background-color: rgb(163, 101, 199);  
    display: inline-block;
    width: 25%;
    position: absolute;
    margin-left: 0;
    height: 100%;
    font-size: 20px;
    border-radius: 10px;
    text-align: center ;
    
}
#user-section{
    background-color: rgb(163, 101, 199);  
    display: inline-block;   
    width: 25%;
    margin-right: 0;
    margin-left: 75%;
    position: absolute;
    height: 100%;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    
    
}
#text-section{
    display: inline-block;
    position: absolute;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
    background-image:url("https://images.wallpaperscraft.ru/image/minimalizm_nebo_oblaka_solntse_gory_ozero_pejzazh_95458_1920x1080.jpg");
    height: 100%;
    border-radius: 10px;
    
}
.message-block{
    width: 100%;
    
}
#page{
    background-color: rgb(163, 101, 199);  
}
button{
    margin-right: 4%;
    font-size: 20px;
}
html{
    background-color: rgb(193, 130, 230);  
}
.room{
    padding-top: 2%;
    text-align: center;
    position: relative;
    color: rgb(255, 255, 255);
}
.user{
    padding-top: 2%;
    text-align: center;
    position: relative;
    color: rgb(255, 255, 255);
}
.header{
    position: relative;
    background-color: rgb(199, 164, 219);
    width: 100%;
    border-bottom: rgb(199, 164, 219);
    border-left: rgb(199, 164, 219);
    border-top: rgb(199, 164, 219);
    border-right: rgb(199, 164, 219);
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    color: rgb(98, 130, 219);
}