label{
  font-size: 20px;
  color: rgb(214, 196, 28);
}
.form-group{
  text-align: center;
}
body{
 background-image:url("https://images.wallpaperscraft.ru/image/minimalizm_nebo_oblaka_solntse_gory_ozero_pejzazh_95458_1920x1080.jpg");
 background-repeat: no-repeat;
 background-size: cover;
}
.form-signin {
  max-width: 330px;
  width: 100%;
  padding: 15px;
  margin: auto;
  margin-top: 15%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}
#btn-login{
  width: 50%;
  height: 20%;
}
h2{
  color: rgb(223, 145, 219);
}